.input-range__slider {
    background: #ccc;
    border: 1px solid #777;
    height: 1rem;
    width: 0.5rem;
    margin-left: -0.25rem;
    margin-top: -0.65rem;
    top: 50%;
    cursor: pointer;
    outline: none;
    position: absolute;
    display: block;
}

.input-range__slider:active {
    background: #aaa;
}

.input-range--disabled .input-range__slider {
    background: #eee;
    border: 1px solid #ccc;
}

.input-range__slider-container {
    transition: left 0.05s ease-out;
}

.input-range__label {
    color: #333;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
    // bottom: -0.8rem;
    display: none;
}

.input-range__label--min {
    left: 0;
}

.input-range__label--max {
    right: 0;
}

.input-range__label--value {
    position: absolute;
    top: -1.8rem;
}

.input-range__label-container {
    left: -50%;
    position: relative;
}

.input-range__label--max .input-range__label-container {
    left: 50%;
}

.input-range__track {
    background: #ccc;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    transition: left 0.05s ease-out, width 0.05s ease-out;
}

.input-range--disabled .input-range__track {
    background: #eee;
}

.input-range__track--background {
    left: 8px;
    margin-top: -0.15rem;
    position: absolute;
    right: 10px;
    top: 50%;
}

.input-range__track--active {
    background: $red;
}

.green .input-range__track--active {
    background: $green;
}

.input-range {
    height: 1rem;
    position: relative;
    width: 100%;
    margin: 24px 0 14px 0;
}